<html>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
  />
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
  ></script>

  <body>
    <section class="hero is-primary is-fullheight ">
      <div class="hero-body">
        <div class="container">
          <h1 style="font-size: 80px;" class="title">
            BreatheFresh
          </h1>
          <h2 style="font-size: 30px;" class="subtitle">
            Air Quality Prediction
          </h2>
        </div>
      </div>
    </section>
    <div class="card-content">
      <form action="http://localhost:5000/result" method="POST">
        <p>
          <b>
            Loacation
            <input class="input is-primary" type="text" name="loc" placeholder="Enter Nearby City" /></b>
        </p>
        <br />
          <input
            class="button is-primary"
            type="submit"
            value="submit"
            placeholder="Primary input"
          />
        </p>
        </a>
      </form>
    </div>
  </body>
  <style>
    form {
      margin-top: 10px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 100px;
    }
  </style>
</html>
